   body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(135deg, #0f172a, #1e293b);
      color: #fff;
      scroll-behavior: smooth;
    }

    .border{
    transition: 0.3s;
    border: 1.5px solid transparent;
    margin: 7px;
    border-radius: 25%;
    }

    .border:hover{
      background: #38bdf8;
      color: #000;
      transform: scale(1.03);
      box-shadow: 0 10px 30px rgba(56,189,248,0.3);
    }

    nav {
      position: fixed;
      width: 100%;
      top: 0;
      background: rgba(15, 23, 42, 0.9);
      display: flex;
      justify-content: center;
      gap: 5px;
      padding: 15px;
      z-index: 1000;
    }

    nav a {
      color: #38bdf8;
      text-decoration: none;
      font-size: 14px;
      padding: 5px;
    }

    header {
      text-align: center;
      padding: 120px 20px 60px;
    }

    header h1 {
      font-size: 2.5rem;
    }

    .typing {
      color: #38bdf8;
      font-weight: bold;
    }

    section {
      padding: 60px 20px;
      max-width: 1000px;
      margin: auto;
      opacity: 0;
      transform: translateY(40px);
      transition: all 0.6s ease;
    }

    section.show {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      color: #38bdf8;
    }

    .skills span {
      display: inline-block;
      background: #1e293b;
      padding: 8px 15px;
      margin: 5px;
      border-radius: 20px;
      font-size: 14px;
      color: #38bdf8;
      transition: 0.3s;
      gap: 8px;
    }
    span:hover{
      background: #38bdf8;
      color: #000;
      transform: translateY(-10px) scale(1.03);
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background: #1e293b;
      padding: 20px;
      border-radius: 15px;
      transition: 0.3s;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }

    .card:hover {
      transform: translateY(-10px) scale(1.03);
      box-shadow: 0 10px 30px rgba(56,189,248,0.3);
    }

    .btn {
      display: inline-block;
      margin-top: 10px;
      padding: 8px 15px;
      background: #38bdf8;
      color: #000;
      border-radius: 8px;
      text-decoration: none;
      font-size: 14px;
    }

    /* Social Section */
    .social-links {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .social-links a {
      background: #1e293b;
      color: #38bdf8;
      padding: 12px 20px;
      border-radius: 30px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .social-links a:hover {
      background: #38bdf8;
      color: #000;
      transform: scale(1.1);
    }

    footer {
      text-align: center;
      padding: 20px;
      background: #020617;
      font-size: 14px;
      color: #94a3b8;
    }
